* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 55px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 3px;
  row-gap: 3px;
  height: 400px;
  width: 400px;
  border: solid 1px #000;
}

.child {
  text-align: center;
  padding-top: 30px;
  background: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s;
}

.o:hover {
  background-color: greenyellow;
}
.x:hover {
  background-color: red;
}

.exit:hover {
  background-color: #000;
}

.child:nth-child(1) {
  background-color: #000;
  font-size: 15px;
}
.rules {
  margin-top: 60px;
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  font-size: 10px;
  line-height: 15px;
}

.green {
  color: greenyellow;
}

.red {
  color: red;
}
h3 {
  padding-left: 15px;
  font-size: 30px;
}

p {
  padding-left: 15px;
  letter-spacing: 2px;
  padding-bottom: 15px;
}
